@import url('https://fonts.googleapis.com/css2?family=Itimfamily=Fredoka:wght@300&family=Roboto+Mono:ital,wght@1,500&family=Smooch+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto+Mono', sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .navbar-nav .dropdown-menu{
    padding: 0;
    background-color: rgb(176, 227, 236);
 }

.navbar{
    background-color: rgb(10, 9, 9,0.7);
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    padding:1;
}


.navbar-nav{
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link{
    color: antiquewhite;
}

.navbar h1{
    color: rgb(24, 162, 196);
    border: 2px solid rgb(123, 218, 159);
    padding: 0 5px;
    background-color: rgba(13, 38, 44, 0.733);
    display: inline-block;
    margin-right: 0;
    
}

.navbar h1:hover{
    color: rgb(0, 255, 255);
}

.navbar-brand span{
    color: rgb(249, 251, 252);
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 0;

}

.navbar-brand span:hover{
    color: aqua;
}

.navbar-light .navbar-nav .nav-link.active{
    color: rgb(176, 216, 138);
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: rgb(0, 0, 0,0.7);
}

.navbar-light .navbar-nav .nav-link{
    margin: 4px 15px;
}

.navbar-light .navbar-nav button{
    margin-left: 8px;
}

.navbar-toggler{
    background-color: rgba(199, 231, 231, 0.384);
    padding: 7px; 
}

/* Book rooms form */

.book-form{
    background-color: rgba(188, 200, 224, 0.473);
    display: none;
    position: absolute;
    z-index: 10;
    top: 85px;
    padding: 20px 5px;
    color: rgb(12, 12, 8);
    border-radius: 20px;
    font-family: cursive;
    font-size: 19.5px;

}    

.book-form input, .book-form select{
    border-radius: 10px;
    background-color: rgba(90, 99, 96, 0.322);
    color: white;
    border: 1px solid rgb(240, 233, 233);
}

.book-form select option{
    background-color: rgba(78, 87, 84, 0.733);

}

#check-in, #check-out{
    width: 28%;
}

.book-form [for="check-out"]{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.hide-check-in{
    display: none;
}

.book-form .form-close {
    text-align: center;
    margin-top: 10px;
   
}

.book-form .form-close button{
    width: 30%;
    border-radius: 10px;
}


/* Cards */
.room-cards{
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(212, 182, 182,0.7);
}

.room-head{
    height: 50px;
    text-align: center;
    color: rgb(66, 121, 223);
    font-family: cursive;
    font-size: 40px;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 500px;
    border: 1px solid rgb(212, 182, 182);
    border-radius: 10px;
    background-color: rgb(209, 212, 243);
    overflow: hidden;

}

.card img{
    width: 100%;
    height: 250px;
    border-radius: 9px 9px 0 0;
    transition: all 0.5s ease-in-out;
}

.card img:hover{
    transform: scale(1.09);
}


.card-body h5{
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.card-body p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(82, 76, 76);
}

.fa-star, .fa-star-half-empty {
    color: #ffa127;
}

/* .card-body span i{
    color: gold;
} */

/* Facilities */

.facility{
    background-color: rgb(250, 215, 245);
    padding: 20px;

}

.icon-img{
    justify-content: center;
    font-size: 30px;
    margin-left: 70px;
    padding: 0 10px;
}

.icon-img img{
    width: 7%;
    margin: 3px 20px;
}


/* footer */

.foot{
    background-color: rgb(212, 182, 182,0.7);
    padding: 20px 10px;

}

.foot h5{
    font-size: 30px;
    color: rgb(66, 121, 223);
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 15px;

}

.foot p{
    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
    
}

.foot a:hover{
    color: rebeccapurple;

}

.for-mar p i{
    margin-right: 10px;
    font-size: 22px;
    color: rebeccapurple;
}

.for-mar p{
    margin-left: 10px;
}

.social-icons a i{
    font-size: 35px;
    margin: 25px;
}

.social-icons a i:hover{
    color: rebeccapurple;
    
}

.input-group{
    margin-bottom: 20px;
}

.app-img{
    margin-left: 10px;
}





/* media queries */
/* for form */

@media only screen and (max-width: 590px){
    .book-form{
        top: 300px;
        left: 1%;
        right: 10%;
    }    
    
}

@media only screen and (max-width: 991px){
    
.book-form{
    top: 300px;
    left: 18%;
    right: 12%;

}    

.hide-check-in{
    display: block;
}

#check-in, #check-out{
    width: 38%;
}

.book-form [for="check-out"]{
    margin-bottom: 0px;
}


.book-form [for="check-out"]{
    margin-top: 10px;
    margin-left: 0;
}

.book-form select {
    margin-top: 10px;
}

.small-nav{
    text-align: center;

}

.navbar-light .navbar-nav .nav-link {
    margin: auto;
    width: 130px;
}

.dropdown-menu{
    padding: 0;
    margin: auto;
    text-align: center;
    width: 150px;
}

.dropdown-item{
    background-color: rgb(176, 227, 236);
    text-align: center;
    margin: 0;

    
}

}

/* About Us Page */

.about-whole{
    background-color: rgb(250, 215, 245);

}

.about-mid{
    text-align: center;
    background: url(../images/about-us.png);
    background-attachment: fixed;
    height: 300px;
    align-items: center;
    color: rgb(170, 230, 230);
    font-family: cursive;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-2-row{
    padding: 20px;
}

.about-align{
    align-items: center;
    font-family: cursive;
}

.about-align h2{
    padding-top: 10px;
    color: rgb(66, 121, 223);

}

.reduce-carousel{
    padding: 10px;
    border-radius: 10px;
}

/* Deluxe room */

.deluxe-room{
    background-color: rgb(250, 215, 245);
    font-family: cursive;
}

.deluxe-align{
    align-items: center;

}

.deluxe-room img{
    width: 100%;
    margin-bottom: 20px;
}

.deluxe-room strong{
    display: block;
}

.about-us{
    background-color: rgb(250, 215, 245);


}

.about-us h2, .deluxe-room h1{
    color: rgb(66, 121, 223);

}

.about-us img{
    width: 100%;
    margin: 10px;
    padding: 15px 20px 20px 0px;
}

.contact-us{
    margin: auto;
    font-size: 15px;
    font-family: cursive;
}

.chat{
    margin: auto  auto 5px;
    font-size: 15px;
    font-family: cursive;

}

.chat h2{
    margin-left: 10px;

}

.chat form label{
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.chat form input{
    width: 90%;
    display: block;
    padding-left: 5px;
    margin-left: 10px;

}

.chat form textarea{
    width: 90%;
    padding: 5px;
    margin-left: 10px;

}

.chat form button{
    display: block;
    width: 100px;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mapouter{
    margin: 20px auto;
    
}